{% extends 'base.html' %}

{% block jumbotron %}
<div class="jumbotron">
        <h1>AlefOne - The Unbeatable</h1>
        <p>The unique and the only portfolio management application available for both android and iOS</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
      </div>
{% endblock %}
{% block content %}
  <div class="row">
        <div class="col-sm-4">
          <h2>Intelligent Analysis</h2>
          <p> Real world requirements are different. You will need to change Time, Interest or Duration of the loan and derive the exposure on a loan or the value of the stock or the YTD, yield. You may want to look at the spend on the Credit Cards MTD or YTD, Charges levied as against actual spend. Do it all from one place, one app and at your finger tips </p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-sm-4">
          <h2>Realistic Portfolio</h2>
          <p>You do not key in values on the app. Just link the app with the accounts and they will all get summarized. Be it Bank Accounts, Loan Accounts, Stocks, Credit Cards etc. WYSIWYG on the Mobile Application is lot more dynamic with AlefOne </p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
       </div>
        <div class="col-sm-4">
        {% if request.user.is_authenticated %}
        <h3> Hello {{request.user }} </h3>
	{% else %}
        <form class="login" method="POST" action="/accounts/login/">
        {% csrf_token %}
  

<div id="div_id_login" class="form-group"> <label for="id_login" class="control-label  requiredField">
                E-mail<span class="asteriskField">*</span> </label> <div class="controls "> <input autofocus="autofocus" class="textinput textInput form-control" id="id_login" name="login" placeholder="E-mail address" type="email"> </div> </div> <div id="div_id_password" class="form-group"> <label for="id_password" class="control-label  requiredField">
                Password<span class="asteriskField">*</span> </label> <div class="controls "> <input class="textinput textInput form-control" id="id_password" name="password" placeholder="Password" type="password"> </div> </div> <div class="form-group"> <div id="div_id_remember" class="checkbox"> <label for="id_remember" class=""> <input class="checkboxinput" id="id_remember" name="remember" type="checkbox">
                    Remember Me
                    


    




    



                </label> </div> </div>

  
  <button class="btn btn-default primaryAction" type="submit">Sign In</button>
  <a class="btn btn-link button secondaryAction" href="{% url 'account_reset_password'  %}">Forgot Password?</a>
  <a class="btn btn-link button secondaryAction" href="{% url 'account_signup' %}">Signup</a>
</form>
{% endif %}
        </div>
      </div>
{% endblock %}
